<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jaguar AI</title>
  </head>
  <body class="flex flex-vertical about-body">
      <div class="flex flex-vertical login-box">
        <img class="flex-item" src="{% static 'images/jaguar-image.svg' %}"/>
        <img class="flex-item" src="{% static 'images/jaguar-text.svg' %}"/>

        <!-- Home view -->
        {% if form.errors %}
          {% for e in form.code.errors %}
            <p class="flex-item error">{{ e }}</p>
          {% endfor %}
          {% for e in form.password2.errors %}
            <p class="flex-item error">{{ e }}</p>
          {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'reset-password' %}">
        {% csrf_token %}
        <div class="flex-item login-field">
            {{ form.code.label_tag }}
            {{ form.code }}
        </div>
        <div class="flex-item login-field">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="flex-item login-field">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>

          <div class="flex-item login-field-footer">
            <input class="button" type="submit" value="Reset Password" />
          </div>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>


    <!-- Load scripts -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
